doctype html
html
        head
            <script src="https://kit.fontawesome.com/d6dc1e1840.js"></script>
            title  #{pageTitle} | #{siteName}
        body
            header
                h1 UTube
            main 
            include ../partials/header

            block content

            include  ../partials/footer