doctype html
html
        head
            title UTube
        body
            header
                h1 UTube
            main 
                block content
            footer
                span &copy; UTube    